/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
/storage/app/json/*.json
!/storage/app/json/.gitignore
composer-out.txt
composer-full.log
composer-install.log
ci.log
ci2.log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.log
/.vscode
/.idea
*.swp
*.swo
*~
.project
.settings
.buildpath
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
